.container {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator {
  background: black;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 280px;
}

.display {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  text-align: right;
  padding: 20px;
  margin-bottom: 16px;
  border-radius: 16px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.button {
  flex: 1;
  padding: 20px 0;
  font-size: 1.2em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 50%;
}

.gray {
  background: #a6a6a6;
  color: black;
}

.dark {
  background: #333333;
}

.orange {
  background: #ff9f0a;
}

.zero {
  flex: 1.8;
  border-radius: 30px;
  text-align: left;
  padding-left: 25px;
}
